
/* Tablet */

header.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  background-image: url('../images/tweeter-bg-2.png');
  color: aliceblue;
}

/* User Name */

h2.user-name span {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 200;
}


/* Laptops / Desktops */
@media only screen and (min-width: 1024px) {
  header.profile.left{
    float: left;
    width: 30%;
    min-width: 15%;
    margin-top: 15%;
    padding-top: 0px;
    height: 420px;
    margin-left: 5%;
  }

  .user-name {
    margin-top: 0px;
  }
}