

/* Styling Nav Bar */
/* Tablet */

nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  padding: 0px 1.5em;
  z-index: 20;
}

.nav-title {
  font-family: 'Bungee';
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans 3';
}

.header-button > i {
  color: red;
}

.bounce2 {
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-5px);}
	60% {transform: translateY(-3px);}
}

.header-button > p {
  margin-bottom: 0px
}



/* Laptops / Desktops */
@media only screen and (min-width: 1200px) {
  
  nav {
    background-color: #4056A1;
  }
  

}