
/* Styling Nav Bar */

nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 0px 1.5em
}

.nav-title {
  font-family: 'Bungee';
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans 3';
}

.header-button > i {
  color: red
}

.header-button > p {
  margin-bottom: 0px
}