
/* Styling Tweet Composing Section */
/* Tablet */

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: inherit;
 }

 .submit-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  font-family: 'Bungee';
 }

 .text-area {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid  #545149;
 }

 #tweet-text {
  color: #545149;
  background: transparent;
  border: none;
  outline: none; 
 }

 #tweet-button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee';
  border: none;
  font-size: large;
 }

 /* Styling Counter if Less Than 0 */

 .counter-negative {
  color: red;
 }

 /* .error-message {
  
 } */
 .error-message.show {
  color: red;
  border: 5px solid red;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

 i.fa-triangle-exclamation {
  padding-left: 10px;
  padding-right: 10px;
 }